<html>
	<head><meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /></head>
	<body>
		<h1>Approval email from admin <%= @seller.name %></h1>
		
		<p>
		admin has successfully approved the request of seller
		</p>

			Thanks for joining and have a great day!
	</body>
</html>