<h1>Welcome to seller panel</h1>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> &nbsp
<%= link_to "create product",  new_product_path %> &nbsp
<%= link_to "products" ,  products_path %>